/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */
.banner {
    text-align: center;
    background-size: cover;
    height: 350px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}

.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 4em;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
}

.banner-subhead {
    display: table-row;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 1em;
}

span.obscure {
    display: none;
}

.footer {
    text-align: center;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}